$grids: (
  auto: auto,
  small: 300px,
  medium: 400px,
  large: 600px
);

$grid-bg: $white;

.grid {
  display: flex;
  flex: 0 0 auto;
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
  background-color: $grid-bg;
  &:not(:last-child) {
    margin-bottom: 50px;
  }
  @each $size, $value in $grids {
    &--#{$size} {
      height: $value;
    }
  }
}