.u-carousel {
  &__list {
    grid-area: list;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
    -ms-overflow-style: none;
    /* Hides the scrollbar. */
    -ms-scroll-chaining: none;
    /* Prevents Metro from swiping to the next tab or app. */
    -ms-scroll-snap-type: mandatory;
    /* Forces a snap scroll behavior on your images. */
    -ms-scroll-snap-points-x: snapInterval(0%, 100%);
  }
  &__item {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    transform: translateX(0);
    will-change: transform;
    user-select: none;
    * {
      -webkit-user-drag: none;
    }
  }
  &__image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}