$carousel-nav-width: 2rem;

.u-carousel {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'list';
  align-items: center;
  width: 100%;
  height: 100%;
  &__link {

  }
}