.u-carousel {
  &__nav {
    position: absolute;
    top: 50%;
    padding: 0 2rem;
    width: 20px;
    height: 100%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
    background: {
      position: center;
      size: contain;
      repeat: no-repeat;
    };
    &--scale {
      transform: scale(1.1);
    }
    &::before {
      content: '';
      display: flex;
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  &__prev {
    left: 0;
    background-image: url('/static/images/prev.svg');
    &--in-roll {
      &::before {
        background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      }
    }
  }
  &__next {
    right: 0;
    background-image: url('/static/images/next.svg');
    &--in-roll {
      &::before {
        background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      }
    }
  }
}