// Set font
@mixin font($font: default, $style: normal, $weight: 400) {
  font-style: $style;
  @if (not $font) or ($font == default) {
    @extend %font-default;
  } @else if ($font == thin) {
    @extend %font-thin;
  } @else if ($font == medium) {
    @extend %font-medium;
  } @else if ($font == bold) {
    @extend %font-bold;
  } @else if ($font) {
    font-family: $font;
    font-style: $style;
    font-weight: $weight;
  }
}

// Set font params
@mixin setFont($font, $size, $color) {
  @include font($font);
  font-size: $size;
  color: $color;
}