extends ../templates/common

mixin item(img)
  li.u-carousel__item


block title
  title Welocme

block main
  .grid.grid--auto
    -
     var items = [
       {img: '350x250.png'},
       {img: '350x250.png'},
       {img: '350x250.png'},
       {img: '350x250.png'},
       {img: '350x250.png'},
       {img: '350x250.png'},
       {img: '350x250.png'},
       {img: '350x250.png'},
       {img: '350x250.png'},
     ]
    section.test-container(style='width: 100%')
      each item in items
        a(href='#')
          img(src=`/images/${item.img}` alt='').u-carousel__image

      //- .u-carousel
      //-   ul.u-carousel__list
      //-     li.u-carousel__item
      //-   span.u-carousel__nav.u-carousel__prev
      //-   span.u-carousel__nav.u-carousel__next
