$body__background: $dark;

html{
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: $body__background;
  overflow-y: auto;
  @include setFont(default, 1rem, $black);
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased !important;
  }
}
