// Fonts
%font-default {
  font-family: $fontDefault;
  font-weight: 400;
}

%font-thin {
  font-family: $fontDefault;
  font-weight: 300;
}

%font-medium {
  font-family: $fontDefault;
  font-weight: 500;
}

%font-bold {
  font-family: $fontDefault;
  font-weight: 700;
}